html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.day {

  background-image: url("../../public//img/day.webp");
  background-repeat: no-repeat;
  background-color: rgba(223, 207, 207, 0.3);
  background-blend-mode: color;
  background-size: cover;
}

.afternoon {


  background-image: url("../../public//img/afternoom.gif");
  background-repeat: no-repeat;
  background-color: rgba(223, 207, 207, 0.6);
  background-blend-mode: color;
  background-size: cover;

}


.night {


  background-image: url("../../public//img/night.gif");
  background-repeat: no-repeat;
  background-color: rgba(223, 207, 207, 0.3);
  background-blend-mode: color;
  background-size: cover;

}
